/* Imports fonts */

@import url(./fonts.css);

@import url(../Css/partials/_global.css);

@import url(../Css/partials/_variables.css);

/* começo da navigation */
.header_area .navbar .navbar-brand  {
    padding: 0 2rem 0 5rem;
}

.header_area .navbar {
    padding: 1rem 20rem;
}

.header_area .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .navbar-nav .active{
    background: rgb(145, 9, 145);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}


.header_area .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* final da navigation */

/* Banner area*/

.site-main .site-banner{
    background: url(../img/background.png) no-repeat ;
    background-size: 100%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 3rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img{
    padding: 7rem 0;
    width: 23rem;
    border-radius:50%;

}

/* foto banner */



/* final Banner area*/

/* Start Sobre area */

.site-main .sobre-area{
    padding: 8rem 5rem;
}

.site-main .sobre-area .sobre-titulo h2>span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 25px;
}

.site-main .sobre-area .sobre-titulo .paragraph > p {
    padding: .4rem 0;
}



/* End Sobre area */

/* Start Habilidade area*/

.site-main .habilidade-area {
    padding: 7rem 2rem;
}
.site-main .habilidade-area .habilidade-title {
    padding: 0 14rem;
}

.site-main .habilidade-area .habilidade-title h1{
    font-size: 45px;
}

.site-main > .habilidade-area .habilidades{
    background: rgba(248, 254, 255, 0.97);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}


.site-main > .habilidade-area .habilidades:hover{
    box-shadow: var(--box-shadow);
}

/* End Habilidade area*/

/* Start Experiencia area*/


.site-main .experiencia-area{
    padding: 7rem 5rem;
}

.site-main .experiencia-area .row .paragraph .para{
    padding: 2rem 0;
}




/* End Experiencia area*/

/* Start Footer area*/

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 121%
}

footer.footer-area .social h5{
    font: normal 10 23px/30px var(--roboto);
}
footer.footer-area .social a > i{
    font-size: 35px;
    padding: 2rem;
    color:rgb(145, 9, 145);
}

footer.footer-area .social a:hover > i{
    color: rgb(243, 221, 243);
}




/* End Footer area*/